*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: blue;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
ul{
    display: flex;
}

li {
 margin: 0 1rem;
}