* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'Goldman', cursive;
}
html {
  font-size: 62.5%;
}
.foto {
  font-family: "Goldman", cursive;
}
section{
  height: 100vh;
  width: 100vw;
}
nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
body {
  background-image: url(Hacker.jpeg);
  height: 130vh;
  width: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text{ 
  font-size:10rem ;
}
title{
  font-weight: bold;
}

